@{
    string nomeUsuario = User.FindFirst("name")?.Value; //?. serve para não gerar excessão caso sej retornado um valor nulo
    var Claims = User.Claims.ToList();
}

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@if (!string.IsNullOrWhiteSpace(nomeUsuario))
{
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>Olá, @nomeUsuario!</a>
        </li>
        <li>
            <a>Sair</a>
        </li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a>Entrar</a></li>
    </ul>
}